@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$grid-columns: 12;

ol, ul {
	list-style: none;
}

body{
  background-color: rgba(245, 245, 241, 1);
}

header{
 @include outer-container(980px);
  height: 80px;
  border-top: 1px solid rgba(122, 122, 122, 1);
  border-bottom: 1px solid rgba(122, 122, 122, 1);
  position: relative;
  background-color: #fff;
}

header a{
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  color: rgba(254, 88, 29, 1);
  text-decoration: none;
  font-family: Times;
  font-size: 3em;
}

.searchField{
  position: absolute;
  display: inline-block;
  height: 35px;
  margin: -40px 0 20px 110px;
  width: 250px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.submitSearch{
  display: inline-block;
  position: absolute;
  margin: -40px 0 0 360px;
  padding: 7px 15px 8px 15px;
  border: 1px solid rgba(3, 151, 175, 1);
  height: 35px;
  background-color: rgba(0, 146, 190, 1);
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.browse{
  position: relative;
  height: 35px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin: -40px 0 0 470px;
  padding: 8px 0px 10px 7px;
  width: 80px;
}

.navBar{
  float:right;
}

.register{
  margin-top: -60px;
  margin-left: -30px;
}

.signIn{

}

.cart{
  margin-top: 100px;
}
