@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
$visual-grid: true;
@import '../bower_components/neat/app/assets/stylesheets/neat';

$grid-columns: 12;

ol, ul {
	list-style: none;
}

body{
  background-color: rgba(245, 245, 241, 1);
	@include outer-container(980px);
}

//header styling

header{
	@include outer-container();
  height: 80px;
  border-top: 1px solid rgba(122, 122, 122, 1);
  border-bottom: 1px solid rgba(122, 122, 122, 1);
  position: relative;
  background-color: #fff;
}

header a{
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
  color: rgba(254, 88, 29, 1);
  text-decoration: none;
  font-family: Times;
  font-size: 3em;
}

.searchField{
  position: absolute;
  display: inline-block;
  height: 35px;
  margin: -40px 0 20px 110px;
  width: 250px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.submitSearch{
  display: inline-block;
  position: absolute;
  margin: -40px 0 0 360px;
  padding: 7px 15px 8px 15px;
  border: 1px solid rgba(3, 151, 175, 1);
  height: 35px;
  background-color: rgba(0, 146, 190, 1);
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.browse{
  position: relative;
  height: 35px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  margin: -40px 0 0 470px;
  padding: 8px 0px 10px 8px;
  width: 80px;
	font-family: sans-serif;
	font-size: .8em;
	color: rgba(102, 102, 102, 1);
}

.navBar{
  float:right;
	margin-top: -25px;
	font-family: sans-serif;
}

.register{
	display: inline-block;
  position: relative;
	font-size: .9em;
	vertical-align: middle;
	color: rgba(0, 145, 177, 1);
	margin-left: -90px;
	margin-right: 20px;
}

.signIn{
	display: inline-block;
	position: relative;
	font-size: .9em;
	vertical-align: middle;
	color: rgba(0, 145, 177, 1);
	border: 1px solid rgba(0, 145, 177, 1);
	padding: 8px;
	border-radius: 4px;
	margin-right: 10px;
}

.cart{
	display: inline-block;
	position: relative;
	font-size: .75em;
	vertical-align: middle;
	border-left: 1px solid rgba(102, 102, 102, 1);
	padding-left: 10px;
	color: rgba(102, 102, 102, 1);
}

.cart i{
	display: block;
	margin-top: -40px;
	color: rgba(102, 102, 102, 1);
}

//main section styling

.main{
	padding-top: 50px;
}

.sidebar{
	@include span-columns(3);
	background-color: red;
	height: 1000px;
}

#item-template{
	@include span-columns(9);
}

.itemBox {
	@include outer-container();
	@include span-columns(3 of 9);
	@include omega(3n);
	height: 200px;
	margin-bottom: 5px;
	background-color: white;
}

.itemBox h1{
	font-family: sans-serif;
	font-size: .5em;
	color: black;
}

.itemBox h2{
	font-family: sans-serif;
	font-size: .5em;
	color: gray;
}

.itemBox h3{
	font-family: sans-serif;
	font-size: .5em;
	color: green;
}
